@media (max-width : 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;

    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: red;
        min-height: 100vh;
    }

    .wrapper {
        background-color: white;
        width: 90%;
        height: 90vh;
        perspective: 250rem;
        animation: show 2s forwards;
        position: relative;
    }

    @keyframes show {
        0%, 30% {
            opacity: 0;
            transform: scale(0.9);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: var(--box-shado);
        border-radius: .6rem;
        transform-origin: right;
    }
    
    .cover.cover-left {
        z-index: -1;
    }

    .cover.cover-right {
        z-index: 100;
        transform : transform 1s cubic-bezier(.645, .045, .355, 1);
    }
    
    .cover.cover-right.turn {
        transform: rotateY(180deg);
    }

    .book {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        perspective: 250rem;
    }

    .book .book-page {
        position: relative;
        background: burlywood;
        width: 100%;
        height: 100%;
        display: flex;
        padding: 2rem;
    }

    .book-page.page-left {
        box-shadow: -.6rem .6rem .6rem rgba(0, 0, 0, 0.1);
        background-color: forestgreen;
    }

    .profile-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-page img {
        max-width: 180px;
        border-radius: 50%;
        border: .25rem solid rgb(88, 1, 1);
        margin-bottom: .8rem;
    }

    .profile-page h1 {
        font-size: 2.7rem;
        line-height: 1.5;
    }

    .profile-page h3 {
        font-size: 1.5rem;
        color: darkblue;
    }

    .profile-page .social-media {
        margin:  .6rem 0 .8rem;
    }

    .profile-page .social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 2rem;
        height: 2rem;
        margin: 0 .1rem;
        background: red;
        border: 1px solid black;
        border-radius: 50%;
        color: white;
        font-size: 1.3rem;
    }

    .profile-page .social-media a:hover {
        background: white;
        color:red;
    }

    .profile-page p {
        text-align: center;
    }

    .profile-page .btn-box  {
        margin-top: 1.2rem;
        
    }

    .btn:hover {
        background-color:transparent;
        color: var(--main-color);
    }

    .btn {
        display: inline-flex;
        width: 9.5rem;
        height: 3rem;
        background: white;
        border:  1px solid black;
        border-radius: 1rem;
        color:  red;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        margin: 0 1rem;
        transition: .5s;
    }
    

    .book-page.page-right {
        position: absolute;
        right: 0;
        background: yellow;
        transform-style: preserve-3d;
        transform-origin: left;
        transition: transform 1s cubic-bezier(.645, .045, .355, 1);
    }

    .book-page .page-front{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        height: 100%;
        background: white;
        padding: 1.5rem 2rem;
    }

    .book-page .page-back {
        background-color: white;
        padding: 1.5rem 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .title {
        text-align: center;
        margin-bottom: 1rem;
    }

    .workeduc-box {
        border-left: var(--border);
    }
    
    .workeduc-box .workeduc-content {
        position: relative;
        padding-left: 1.6rem;
        margin-bottom: 1.2rem;
    }

    .workeduc-box .workeduc-content::before {
        content: '';
        position: absolute;
        top: 0;
        left: -0.65rem;
        width: 1.2rem;
        height: 1.2rem;
        background: var(--main-color);
        border-radius: 50%;
    }
    
    .workeduc-content .year {
        color: var(--main-color);
    
    }

    .workeduc-content .year i {
        margin-right: .4rem;
    
    }

    .number-page {
        position: absolute;
        bottom: 1.2rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .nextprev-btn {
        position: absolute;
        width: 2rem;
        height: 2rem;
        bottom: .9rem;
        right: 1.5rem;
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--second-text-color);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
    }

    

}
@media (min-width : 768px) and (max-width: 992px) {
    body{
        background: green;
    }
} 
@media (min-width: 1911px) {
    body{
        background: cyan
    };
} 