* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* :root {
    --bg-color: blue;
    --main-color : white;
    --text-color :  black;
    --second-text-color: ;
    --white-color : #fffcfc;
    --cover-color: linear-gradient(45deg, #4E1511, #5E1C16);
    --pages-color: linear-gradient(90deg, #FFFCFC, #FFF8F7);
    --border: .125rem solid #6E2920;
    --box-shado: 0 0 .6rem rgba(0, 0, 0, .2);
} */

html {
    font-size: 25px;
    scroll-behavior: smooth;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    section {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

        section .section1 {
            height: 100%;
            width: 100%;
        }

            section .section1 .container {
                display: flex;
                height: 100%;
            }

                section .section1 .container .hg {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                }

                    section .section1 .container .hg .hg-cont {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                        section .section1 .container .hg .hg-cont .nav {
                            display: flex;
                            justify-content: left;
                            padding: 0 40px;
                            align-items: center;
                            width: 100%;
                            height: 10%;
                        }

                            section .section1 .container .hg .hg-cont .nav .img {
                                width: 10%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 5px;
                            }

                                section .section1 .container .hg .hg-cont .nav .img .img_box {
                                    width: 3rem;
                                    height: 3rem;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 100%;
                                    overflow: hidden;
                                }

                                    section .section1 .container .hg .hg-cont .nav .img .img_box img {
                                        width: 100%;
                                    }

                            section .section1 .container .hg .hg-cont .nav nav {
                                text-align: center;
                            }
                            
                                section .section1 .container .hg .hg-cont .nav nav a{
                                    margin: 0 5px;
                                    color: darkblue;
                                    font-weight: 400;
                                    font-size: 1.075rem;
                                }

                        section .section1 .container .hg .hg-cont .texte {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 80%;
                        }

                            section .section1 .container .hg .hg-cont .texte .txt h1 {
                                font-size: 3rem;
                                font-weight: bold;
                            }

                            section .section1 .container .hg .hg-cont .texte .txt h2 {
                                font-size: 1.5rem;
                                font-weight: 350;
                            }

                            section .section1 .container .hg .hg-cont .texte .txt h2 span{
                                font-weight: 500;
                            }

                        section .section1 .container .hg .hg-cont .lien {
                            display: flex;
                            justify-content: space-between  ;
                            align-items: center;
                            padding: 0 40px;
                            width: 100%;
                            height: 10%;
                        }

                        section .section1 .container .hg .hg-cont .lien a:nth-child(1) {
                            font-size: 1.25rem;
                            color: black;
                        }
                        section .section1 .container .hg .hg-cont .lien a:nth-child(2){
                            background: darkblue;
                            font-size: .6rem;
                            padding: 12px 18px;
                            color: white;
                            font-weight: 450;
                            border-radius: 40px;
                        }
                section .section1 .container .hd{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }


                    section .section1 .container .hd .hd-cont {
                        width: 100%;
                        height: 100%;
                        border-radius: 0 0 0 3rem;
                        background: green;
                    }

        section .section2 {
            width: 100%;
            max-height: 70vh;
        }

            section .section2 .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;

            }

                section .section2 .container h1 {
                    color: black;
                    padding:40px 0;
                    font-size: 2rem;
                }

                section .section2 .container .projet {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 70%;
                    height: 80%;
                    padding: 10px 0 40px 0;
                }

                    section .section2 .container .projet .grille {
                        display: grid;
                        width: 100%;
                        height: 100%;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 100%;
                        gap: 2rem;
                    }

                        section .section2 .container .projet .grille .item {
                            width: 100%;
                            height: 100%;
                            border-radius: 5%;
                            transition: .2s;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 20px;
                            gap: 10px;
                            box-shadow: 0 0 10px 0px #66666634;
                        }

                        section .section2 .container .projet .grille .item:hover {
                            transform: scale(1.05);
                            transition: .2s;
                        }

                            section .section2 .container .projet .grille .item .img {
                                display: flex;
                                width: 100%;
                                height: 50%;
                                overflow: hidden;
                                border-radius: 15px;
                            }

                                section .section2 .container .projet .grille .item .img img {
                                    width: 100%;
                                    object-fit: cover ;
                                    transition: .3s;
                                }

                                section .section2 .container .projet .grille .item .img:hover img {
                                    transform: scale(1.15) rotate(5deg);
                                    transition: .3s;
                                    cursor: pointer;
                                }

                            section .section2 .container .projet .grille .item .txt {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                height: 50%;
                                gap: 8px;
                                overflow: hidden;
                            }

                                section .section2 .container .projet .grille .item .txt h3 {
                                    text-align: center;
                                    font-size: 1rem;

                                }

                                section .section2 .container .projet .grille .item .txt p {
                                    text-align: center;
                                    font-size: .7rem;
                                }

                                section .section2 .container .projet .grille .item .txt a {
                                    font-size: .7rem;
                                    background: #c7f1ffd7;
                                    color: #00005c;
                                    padding: 3px 30px;
                                    border-radius: 50px;
                                }

        section#portfolio {
            display: flex;
            height: 70vh;
            flex-direction: column;
        }                                
                                
            section .section3 {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;

            }

                section .section3 .container {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                    section .section3 .container .txt {
                        background: #ffffff7c;
                        width: 50%;
                        padding: 40px;
                        position: relative;
                        left: 50px;
                        line-height: 50px;
                        border-radius: 15px;
                        z-index: 1;
                        box-shadow: 0 0 30px 0 #00000054;

                    }
                    section .section3 .container .img {
                        width: 40%;
                        height: 80%;
                        background: black;
                        border-radius: 15px;
                        transform: rotate(7.5deg);
                        overflow: hidden;
                        border: none;
                    }

                        section .section3 .container .img .img_item {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            object-fit: cover;
                            left: 0;
                            opacity: 0;
                            transform: scale(1);
                            transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
                        }

                        section .section3 .container .img .img_item.active {
                            opacity: 1;
                            transform: scale(1.1);
                            object-fit: cover;
                            
                        }

        section .section4 {
            width: 100%;
            height: 100%;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            section .section4 .container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 70%;
            }

                section .section4 .container .skills_grid {
                    width: 70%;
                    height: 90%;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 30% 30% 30%;
                    background: orange;
                    gap: 5%;
                }

                    section .section4 .container .skills_grid .grid {
                        display: grid;
                        background: green;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        gap: 3rem;
                        border: 3px solid white;
                    }

                        section .section4 .container .skills_grid .grid .grid_item {
                            background: white;
                            border: 2px solid black ;
                            color: var(--clr_1);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 15px;
                            overflow: hidden;
                            height: 100%;
                        
                        }

                            section .section4 .container .skills_grid .grid .grid_item img {
                                width: 7rem;
                                padding: 30px;
                            }

                            section .section4 .container .skills_grid .grid .grid_item:hover img {
                                transform: rotate(3deg) scale(1.2);
                                transition: .5s;
                            }
