* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'poppins';
    scroll-behavior: smooth;
}

:root {
    --linear: linear-gradient(to right, #009dff, #ff00ff);
    --bg: black;
    --fg: white;
}
a,
a:active,
a:link,
a:visited
a:enabled
a:focus,
a:checked {
    color: white;
}

body {
    background: #000318;
    color: white;
}

header {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #00000099;
    border: .5px solid white;
    backdrop-filter: blur(10px);
    color: black;
    padding: .3rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
    width: 60%;
    height: 7vh;
}

.log {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}


.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.logo:hover {
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nav ul {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav li a {
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}

.nav li a::before {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: .3s ease-in-out;
    background: var(--linear);
}

.nav li a:hover::before {
    width: 100%;
}


.button {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--fg);
    text-wrap: nowrap;
    cursor: pointer;
    transition: .3s ease-in-out;
    background: var(--linear);
}

.visit-btn:hover {
    background: var(--linear);
    transform: scale(1.03);
}

#menu-icon {
    font-size: 2rem;
    display: none;
    color: var(--fg);
}


section {
    min-height: 100vh;
    padding: 8rem 12%;
    position: relative;
    width: 100%;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.about-container .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 35rem;
    border-radius: 100%;
    overflow: hidden;
}

.about-container .img img {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff00ff, #009dff);
    object-fit: cover;
    object-position: top;

}

.info-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: .125rem;
    gap: 1.5rem;
}

.info-box h3 {
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}


/* modernizr à revoir */
/* modernizr à revoir */
/* modernizr à revoir */

.info-box h1 {
    font-size: 4rem;
    font-weight: 600;
}

.info-box span {
    background: var(--linear);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.info-box .isNot span {
    background: none;
    color: #009dff;
    font-size: 2rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn {
    border-radius: 3rem;
    padding: .5rem 1.5rem;
    border: .5px solid white;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: .3s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: black;
}


.socials {
    display: flex;
    gap: 2rem;
}

.socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover {
    transform: scale(1.1);
}

.section-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.skill-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.skill-info .img {
    width: 30rem;
    height: 30rem;
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-info .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transform: scale(1.2);
}



.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: .5px solid white;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.grid-card:hover {
    transform: scale(1.02);
    background: white;
    color: black;
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    margin: .75rem;
    background: var(--linear);
    background-clip: text;
    color: transparent;
}

.grid-card .tech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.grid-card .tech .tech-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    padding: .5rem;
    border-radius: 1rem;
    border: .5px solid rgb(0, 2, 143);
}

.grid-card .tech .tech-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: .3rem;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #009dff, #ff00ff);
    ;
}

::-moz-scrollbar {
    width: .3rem;
}

::-moz-scrollbar-track {
    background: black;
}

::-moz-scrollbar-thumb {
    background: linear-gradient(to bottom, #009dff, #ff00ff);
    ;
}


.projet-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projet-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: .5px solid white;
    border-radius: 3rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.projet-card:hover {
    background-color: white;
    color: black;
    transform: translateY(-10px)scale(1.02);
}

.projet-card .projet_img {
    width: 20vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
}

.projet-card .projet_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projet-card:hover .btn {
    border: .5px solid black;
    color: black;
}

.projet-card:hover .btn:hover {
    border: .5px solid black;
    background: black;
    color: white;
}

.projet-card h3 {
    font-size: 2rem;
    font-weight: 500;
}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;

}

.contact .contact-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.input-box form {
    width: 100%;
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.input-box form .input {
    position: relative;
    width: 100%;
}

.input-box form .input i {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    color: black;
    left: 10px;
    transform: translate(50%, -50%);
}

.input-box form .input input {
    border-radius: 2.5rem;
    border: .5px solid black;
    padding: 2rem 8rem;
    font-size: 2.5rem;
    width: 100%;
}

.input-box form .input input::placeholder {
    font-size: 2.5rem;
}

.input-box form .input textarea {
    border-radius: 2.5rem;
    border: .5px solid black;
    padding: 2rem 8rem;
    font-size: 2.5rem;
    width: 100%;
    resize: none;
}

.input-box form .input textarea::placeholder {
    font-size: 2.5rem;
}




button.btn {
    border-radius: 3rem;
    padding: .5rem 5rem;
    border: .5px solid white;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    text-wrap: nowrap;
    transition: .3s ease-in-out;
}

button.btn:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: .3s ease-in-out;
}

.contact footer {
    bottom: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.contact footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 6rem;
    border-left: .5px solid #80808080;
    border-right: .5px solid #80808080;
}

.contact footer ul li {
    padding: .5rem 2rem;

}

.contact footer ul hr {
    border: 0.05rem solid dimgray;
    background: dimgray;
    border-radius: 100%;
    padding: .5px;
}

.contact footer ul li a {
    position: relative;
    color: white;
    font-weight: 600;
    font-size: 1.15rem;
}

.contact footer ul li a::before {
    position: absolute;
    content: "";
    width: 0;
    right: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: .3s ease-in-out;
    background: var(--linear);
}

.contact footer ul li a:hover::before {
    width: 100%;
}


.copyright {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 2rem;
    margin-top: 2rem;
    background: var(--linear);
    background-clip: text;
    color: transparent;
    text-align: center;
}

.copyright span {
    color: white;
    letter-spacing: 1px;
    font-size: 1.1rem;
}


@media (max-width : 1280px) {

    header {
        padding: .3rem 1rem;
        gap: .5rem;
        width: 70%;
    }



    .visit-btn {
        padding: .4rem .75rem;
    }

    .about .about-container {
        gap: 3rem;
    }

    .about-container .img {
        width: 25rem;
        height: 25rem;
        border-radius: 100%;
        overflow: hidden;
    }

    .info-box h3 {
        font-size: 1.25rem;
    }

    .info-box h1 {
        font-size: 2.5rem;
    }

    .info-box span {
        background: var(--linear);
        background-clip: text;
        color: transparent;
        font-size: 2rem;
    }

    .skill-info {
        flex-direction: column;
    }

    .input-box input {
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }

    .input input::placeholder {
        font-size: 2.5rem;
    }

    .input-box i {
        font-size: 2.5rem;
    }
}



@media (max-width : 768px) {

    header {
        padding: 1rem 1rem;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    header .logo {
        font-size: 1rem;
    }

    header .visit-btn {
        display: none;
    }

    .nav.active {
        display: flex;
        padding: .25rem 0.25rem;
        height: 20rem;
    }

    .nav.nav.active .nav_link {
        border: 2px solid black;
    }


    .about-container {
        flex-direction: column;
        gap: 5rem;
    }


    .about-container .img {
        width: 15rem;
        height: 15rem;
    }

    .input-box {
        width: 80%;
    }

    .input-box form {
        gap: 1.5rem;
    }


    .input-box form .input input {
        padding: 1rem 1rem;
        font-size: 1.2rem;
        border-radius: 1.5rem;
    }

    .input-box form .input input::placeholder {
        font-size: 1.2rem;
    }


    .input-box form .input textarea {
        border-radius: 1.5rem;
        border: .5px solid black;
        padding: 1rem 1rem;
        font-size: 1.2rem;
        width: 100%;
        resize: none;
    }


    .input-box form .input textarea::placeholder {
        font-size: 1.2rem;
    }

    button.btn {
        border-radius: 1.5rem;
        padding: .3rem 2rem;
        font-size: 1.2rem;
    }



    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-info img {
        width: 70vw;
    }

    .section-title {
        font-size: 3rem;
    }
}


@media (max-width : 600px) {

    header #menu-icon {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        background: var(--bg);
        border: white solid 1px;
        border-radius: 3rem;
        display: none;
    }

    .nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .nav.active ul li {
        margin: .5rem;
    }


   

    .about-container .img {
        width: 20rem;
        height: 20rem;
    }

    .skill-info .img {
        width: 20rem;
        height: 25rem;
    }

}

@media (max-width: 480px) {

    .info-box {
        gap: 1.25rem;
    }

    .info-box h1 {
        font-size: 2.25rem;
        font-weight: 600;
    }

    .info-box span {
        font-size: 1.25rem;
    }

    .btn {
        border-radius: 3rem;
        padding: .5rem 1.5rem;
        border: .5px solid white;
        font-size: .8rem;
        cursor: pointer;
        font-weight: 500;
        text-wrap: nowrap;
        transition: .3s ease-in-out;
    }

    .socials i {
        font-size: 1.25rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .projet-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

    .projet-card {
        padding: 1rem 1rem;
        gap: 1rem;
        border: .5px solid white;
    }

    .projet-card .projet_img {
        width: 16rem;
        height: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 1rem;
    }

    .projet-card .projet_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .input-box form .input input {
        border: .5px solid black;
        padding:.75rem 0rem 0.75rem 3rem ;
        font-size: 1rem;
    }
    .input-box form .input input::placeholder {
        font-size: 1rem;
    }

    .input-box form .input textarea::placeholder {
        font-size: 1rem;
    }


    .input-box form .input textarea {
        padding: .75rem 0rem 4rem 3rem;
        font-size: 1rem;
    }

    .input-box form .input i {
        position: absolute;
        font-size: 1.15rem;
    }

    .contact footer {
        gap: .25rem;
    }

    .contact footer ul hr {
        border: 0.025rem solid dimgray;
        background: dimgray;
        border-radius: 100%;
        padding: .25px;
    }


    .contact footer ul {
        padding: .25rem 2rem;
        border: none;
    }

    .contact footer ul li {
        padding: .25rem .8rem;

    }

    .contact footer ul li a {
        font-size: .95rem;
    }

    .copyright {
        font-size: .75rem;
    }

    .copyright span {
        font-size: .65rem;
    }
}
